/*
    THIS STYLESHEET IS INCLUDED IN EVERY SINGLE HTML FILE
*/

/* Import Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Import Google Icons: */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

:root {
    --header-size: 4.5em;
    --footer-size: 0em;
    --safe-height: calc(100vh - var(--header-size) - var(--footer-size));
    --text-color: rgba(255, 255, 255, 0.75);
    --hr-background-color: rgba(255, 255, 255, 0.1);
}

body {
    padding: 0;
    margin: 0;

    /* Hide overflow-x: */
    overflow-x: hidden;
}

html, 
body {
    height: 100%;
    overflow: hidden;
}

header,
main,
footer {
    width: 100%;
}

main {
    background: linear-gradient(0deg, #20242a, #1c2128)
}

header {
    height: var(--header-size);
}

header > .header {
    width: 100%;
    height: var(--header-size);
    box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
    border-bottom: 1px solid #808080;
    background: #373b41;
}

footer {
    height: var(--header-size);
}

main {
    height: var(--safe-height);
    overflow-y: scroll;
}

p,span,.text,li {
    font-family: 'Noto Sans';
    font-size: 0.95rem;
    color: var(--text-color);
}

p {
    line-height: 1.4;
}

li {
    line-height: 1.8;
}

ul,ol {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Exo 2', serif;
}

::selection {
    color: hsl(0deg, 0%, 95%);
    background-color: rgba(86, 116, 161, 0.8);
}

hr {
    width: 80%;
    height: 2px;
    border: 0;
    background: var(--hr-background-color);
    margin: 3em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}

br {
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

strong {
    font-weight: 600;
    color: #75aded;
    border-bottom: 2px dotted;
    cursor: pointer;
    transition: 0.14s;
}

strong:hover {
    color: #b8d8fc;
}

span.material-symbols-outlined {
    user-select: none;
}
