header {
    width: 100vw;
    height: fit-content;
    /* height: calc(var(--header-size) + var(--mobile-header-size)); */
    position: fixed;
    z-index: 8;
    top: 0;
    box-shadow: 0 0 50px 3px rgba(0, 0, 0, 0.2);
}

.header {
    width: 100%;
    height: var(--header-size);
    background: hsl(0deg, 0%, 90%);
    border-bottom: 1px solid hsl(0deg, 0%, 80%);
    display: flex;
    align-items: center;
}

.mobile-toggle-tree {
    display: none;
}

.header > .logo {
    width: 18em;
    height: 3em;
    margin-left: calc(calc(var(--header-size) - 3em) / 2);
    background: black;
}

.header > .actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.header > .actions > span {
    user-select: none;
    cursor: pointer;
    margin: 1em;
}

#header-account-icon {
    margin-right: 1.5em;
}

#header-search {
    font-size: 0.95em;
    height: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    outline: none;
    padding-left: 1.5em;
    transition: 0.45s;
    width: 40%;
    border-radius: 1.4em;
    border: 1px solid hsl(0deg, 0%, 80%);
}

#header-search.hidden {
    width: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: 100% !important;
}

#header-search:focus {
    border: 1px solid hsl(0deg, 0%, 65%);
}

.mobile-toggle-tree {
    width: 100%;
    height: var(--mobile-header-size);
    background: hsl(0deg, 0%, 85%);
    border-bottom: 1px solid hsl(0deg, 0%, 80%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    user-select: none;
}

#mobile-toggle-tree-label {
}

@media screen and (max-width:750px) {
    .mobile-toggle-tree {
        display: flex;
    }
}