/* 
    THIS FILE CONTAINS THE CSS FOR THE SCROLLBAR
*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(207, 207, 207);
}

::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(183, 183, 183);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(138, 138, 138);
}