.docs\:li-title {
    margin-bottom: 0.5em;
    margin-left: -40px;
    font-weight: bold;
}

.docs\:hr {
    display: block;
    width: 100%;
    border-radius: 1em;
    height: 2px;
    background: var(--docs-hr);
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 2px;
}

.docs\:hr.sub {
    background: var(--docs-hr-sub);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(0deg, 9%, 26%);
    font-family: 'Exo 2', serif;
}

.docs\:footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* margin-top: 1em; */
    margin-bottom: 1em;
}

.docs\:footer>p {
    line-height: 2;
    text-align: center;
}

.horizontal-ad {
    width: 100%;
    height: 10em;
    border-radius: 0.4em;
    background: red;
    margin-bottom: 1em;
}

.horizontal-ad-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.docs\:course-navigator-wrapper {
    width: 100%;
}

.docs\:course-navigator {
    width: 100%;
    height: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
}

@media screen and (max-width:930px) {
    .docs\:course-navigator {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 2em;
        padding-bottom: 1em;
    }

    .docs\:course-navigator>#report-issue {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .docs\:course-navigator>*:not(#report-issue) {
        width: 100%;
    }

    .docs\:course-navigator>*:not(#report-issue)>button {
        padding-bottom: 0.3em;
        padding-top: 0.3em;
        height: 3em;
        width: 100%;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
    }
}

.docs\:br {
    display: block;
}

.docs\:quote {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

/* CODE: */
docs-code-block {
    display: block;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: var(--docs-code-block);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.75em;
    border-left: 5px solid #86a8df;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-radius: 0.8em;
}

.code\:internal,
.code\:int,
.code\:prestr {
    color: rgb(87, 157, 214);
}

.code\:lib,
.code\:mod {
    color: rgb(25, 245, 69);
    /* font-weight: 400; */
}

.code\:html-tag {
    color: rgb(146, 179, 255);
}

.code\:html-attr {
    color: #88e886;
}

.code\:class,
.code\:cls {
    color: rgb(132, 221, 124);
}

.code\:string,
.code\:str {
    color: rgb(216, 153, 128);
}

.code\:num,
.code\:number {
    color: rgb(247, 183, 194);
}

.code\:comment {
    color: #67ad66;
    /* color: rgb(133, 133, 133); */
}

.code\:variable,
.code\:var {
    color: rgb(169, 216, 247);
}

.code\:escape,
.code\:esc {
    color: rgb(247, 231, 169);
}

.code\:function,
.code\:func {
    color: rgb(220, 220, 170);
}

.code\:boolean,
.code\:bool {
    color: rgb(132, 221, 124);
}

.code\:bracket {
    color: rgb(227, 255, 255);
}

.code\:inline {
    font-size: 1em;
    color: var(--docs-inline-code);
}

.code\:terminal::before,
.code\:term::before {
    content: '>>> ';
    color: hsl(0deg, 0%, 65%);
}

.code\:output,
.code\:out {
    color: hsl(0deg, 0%, 90%);
}

.code\:box {
    padding: 0.15em;
    border: 1px solid hsl(0deg, 0%, 85%);
    border-radius: 0.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background: hsl(0deg, 0%, 95%);
}

.option>.code\:inline {
    padding-left: 4px;
}

.code\:error {
    color: hsl(0, 75%, 65%);
}

docs-code-block>code {
    color: white;
}

.docs-code {
    overflow-x: auto;
    white-space: nowrap;
}

.docs-code::-webkit-scrollbar {
    height: 0.7em;
}

.docs-code::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.0);
}

.code\:tree {
    color: #7cc589;
}

.code\:title {
    font-weight: bold;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    color: var(--text-primary);
}

.code\:copy-code-block {
    width: 32px;
    height: 32px;
    border-radius: 0.6em;
    /* background: rgba(255, 255, 255, 0.2); */
    position: absolute;
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    translate: 0 -1em;
    right: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: 0.12s;
    -o-transition: 0.12s;
    transition: 0.12s;
    opacity: 0;
    padding: 1em;
}

.code\:copy-code-block:hover {
    /* background: rgba(255, 255, 255, 0.35); */
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
}

.code\:copy-code-block:active {
    /* background: rgba(255, 255, 255, 0.3); */
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

.code\:copy-code-block>span {
    font-size: 1.2em;
    -webkit-transition: 0.14s;
    -o-transition: 0.14s;
    transition: 0.14s;
    color: hsl(0deg, 0%, 80%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.code\:copy-code-block:hover>span {
    color: rgb(123, 183, 255);
}

.code\:copy-code-block:active>span {
    color: rgb(120, 153, 194);
}

docs-code-block:hover>.code\:copy-code-block {
    opacity: 1;
}

.code\:copy-code-block-label {
    position: relative;
    left: -1.8em;
}

.docs-details-dropdown {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2em;
    margin-bottom: 1em;
    background: hsl(0deg, 0%, 80%);
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid hsl(0deg, 0%, 80%);
    -webkit-box-shadow: 0 0 80px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 80px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.docs-details-dropdown:hover {
    -webkit-box-shadow: 0 0 80px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 80px 10px rgba(0, 0, 0, 0.15);
}

.docs-details-dropdown>.header {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    font-weight: 600;
    color: hsl(0deg, 9%, 26%);
    height: 3em;
    background: hsl(0deg, 0%, 90%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.14s;
    -o-transition: 0.14s;
    transition: 0.14s;
}

.docs-details-dropdown:hover>.header {
    color: rgb(68, 55, 55);
}

.docs-details-dropdown.closed>.body {
    display: none;
}

.docs-details-dropdown>.body>.docs\:p {
    color: #625b5b;
}

.docs-details-dropdown>.body>.docs-note-text {
    border-color: #d9d9d9;
}

.docs-details-dropdown>.body>docs-code-block>.code\:copy-code-block {
    display: none;
}

.docs-details-dropdown.closed>.header {
    border: 0;
}

.docs-details-dropdown>.header>.icon {
    margin: 0.5em;
    margin-left: 0.8em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
    padding-top: 0.25em;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.23s;
    -o-transition: 0.23s;
    transition: 0.23s;
}

.docs-details-dropdown.closed>.header>.icon {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.docs-details-dropdown>.header>.label {
    font-family: 'Exo 2';
}

.docs-details-dropdown>.body {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: hsl(0deg, 0%, 92%);
    border-top: 1px solid hsl(0deg, 0%, 80%);
    padding: 1.5em;
}

.docs-note-text {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: var(--docs-note-background);
    border: 1px solid var(--border-light);
    font-weight: 400;
    border-radius: 0.8em;
}

.docs-note-text>.prefix {
    font-weight: 700;
}

.docs-note-text>.label,
.docs-note-text>.prefix {
    color: var(--docs-note-color);
}

.docs-note-text>.label>a.dark-mode {
    color: #4f83d9;
}

.docs-details-dropdown>.body>table>tbody>tr>td {
    color: #625b5b !important;
}

/* Report Issue: */
.report-issue-dialog {
    position: fixed;
    width: 25em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: hsl(0deg, 0%, 90%);
    border: 1px solid hsl(0deg, 0%, 85%);
    -webkit-box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
    border-radius: 0.5em;
    z-index: 9;
    bottom: 3em;
    right: 3em;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.report-issue-dialog>input,
textarea {
    color: black !important;
}

.report-issue-dialog.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.report-issue-dialog.toggled>.body {
    display: none;
}

.report-issue-dialog>.body {
    height: 25em;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em;
}

.report-issue-dialog>.header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid hsl(0deg, 0%, 85%);
    cursor: pointer;
    height: 4em;
}

.report-issue-dialog>.header>.title {
    margin: 0;
}

.report-issue-dialog>.header>.icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-weight: 400;
    color: rgb(68, 61, 61);
}

.report-issue-dialog>.header>.icon:active {
    font-weight: 800;
}

.report-issue-dialog>.body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.report-issue-dialog>.body>input,
textarea,
select {
    outline: none;
    border: 1px solid hsl(0deg, 0%, 70%);
    border-radius: 0.3em;
    height: 2.2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.95em;
}

.report-issue-dialog>.body>select {
    cursor: pointer;
    min-height: 2.4em;
    font-size: 0.95em;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.report-issue-dialog>.body>input {
    min-height: 2.2em;
}

.report-issue-dialog>.body>input:focus {
    border: 1px solid hsl(0deg, 0%, 60%);
}

.report-issue-dialog>.body>textarea {
    padding: 1em;
    resize: none;
    height: 8em;
}

.report-issue-dialog>.body>button {
    min-height: 3em;
}

.report-issue-dialog>.body>.sub-text {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.report-issue-dialog>.body>#char-count {
    font-size: 0.9em;
    color: hsl(0deg, 0%, 40%);
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    margin-left: auto;
    margin-top: 0.8em;
}

.report-issue-dialog>.body>#char-count.red {
    color: rgb(239, 64, 64);
    font-weight: 700;
}

@media screen and (max-height:700px) {
    .report-issue-dialog>.body>textarea {
        height: 6em;
    }

    .report-issue-dialog {
        right: 1em;
        bottom: 1em;
    }
}

@media screen and (max-height:550px) {
    .report-issue-dialog>.body>textarea {
        height: 4em;
    }
}

@media screen and (max-width:500px) {
    .report-issue-dialog {
        width: 100%;
        height: 100vh;
        right: 0;
        bottom: 0;
    }

    .report-issue-dialog>.body>textarea {
        height: 8em;
    }
}

section>.items {
    padding-left: 1em;
    border-left: 8px solid rgba(0, 0, 0, 0.1);
}

section>p,
section>.items>p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

section>.items>* {
    margin-left: 8px;
}

section>.items>table {
    width: calc(100% - 8px);
    background: rgba(0, 0, 0, 0.05);
}

.docs\:table>tbody>tr>th.dark-mode {}

/* Table: */
.docs\:table {
    width: 100%;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    border-radius: 0.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    /* overflow: hidden; */
}

.docs\:table>tbody>tr>th,
td {
    padding: 0.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.8em;
    margin: 0 !important;
}

.docs\:table>tbody>tr {
    cursor: pointer;
}

.docs\:table>tbody>tr:hover {
    background: rgba(0, 0, 0, 0.04);
}

.docs\:table>tbody>tr>td {
    font-size: 0.9em;
    border-left: 1px solid #d9d9d9;
}

.docs\:table>tbody>tr>th {
    font-weight: 700;
    color: hsl(0deg, 0%, 10%);
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    background: #b0cdf3;
    text-align: left;
    font-size: 0.95em;
    /* border: 1px solid #d9d9d9; */
}

.docs\:p {
    color: var(--text-default);
}

section>h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

#content-title {
    color: var(--text-first);
}

.docs\:tabbed-interface {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: hsl(0deg, 0%, 92%);
    border-radius: 1em;
    border: 1px solid hsl(0deg, 0%, 80%);
    overflow: hidden;
    margin-bottom: 2em;
}

.docs\:tabbed-interface>.header {
    background: hsl(0deg, 0%, 95%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0deg, 0%, 80%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.docs\:tabbed-interface>.header>.item {
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding-top: calc(1em + 6px);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    padding-bottom: calc(1em + 6px);
}

.docs\:tabbed-interface>.header>.item:hover {
    padding-bottom: 1em;
    border-bottom: 6px solid #c6ddfa;
    background: hsl(0deg, 0%, 93%);
}

.docs\:tabbed-interface>.header>.item.active:hover {
    padding-bottom: 1em;
    border-bottom: 6px solid #c6ddfa;
    background: hsl(0deg, 0%, 93%);
}

.docs\:tabbed-interface>.header>.item:active {
    padding-bottom: calc(1em + 1px);
    border-bottom: 5px solid #9bb6d9;
    background: hsl(0deg, 0%, 90%);
}

.docs\:tabbed-interface>.header>.item.active:active {
    padding-bottom: calc(1em + 1px);
    border-bottom: 5px solid #9bb6d9;
    background: hsl(0deg, 0%, 90%);
}

.docs\:tabbed-interface>.header>.item.active {
    padding-bottom: 1em;
    border-bottom: 6px solid #b0cdf3;
    /* border-radius: 1em; */
}

.docs\:tabbed-interface>.header>.item>span {
    font-weight: 700;
    color: hsl(0deg, 0%, 10%);
}

.docs\:tabbed-interface-tab {
    display: none;
}

.docs\:tabbed-interface-tab.active {
    display: block;
}

.docs\:tabbed-interface-tab.active>ul>li,
.docs\:tabbed-interface-tab.active>ul>p {
    color: #625b5b !important;
}

.docs\:tabbed-interface>.body {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em;
}

.docs\:tabbed-interface-tab.active>ul:first-of-type {
    margin-top: 0;
    /* margin-bottom: 0; */
}