/* 

    DON'T CHANGE ANY OF THESE VALUES. INSTEAD CHANGE THEM IN SCRIPTS/INDEX.JS (`setLightMode()`)

*/

:root {
    /* Text: */
    --text-first: hsl(0deg, 9%, 14%);
    --text-primary: hsl(0deg, 9%, 20%);
    --text-default: hsl(0, 4%, 37%);
    --text-secondary: rgb(147, 135, 135);

    /* Anchor Links: */
    --anchor: #2a6edd;
    --anchor-hover: #3d567d;
    --anchor-active: #7989a3;

    /* Monochrome / BW Backgrounds: */
    --background-2: hsl(0deg, 0%, 85%);
    --background-2-dark: hsl(0deg, 0%, 87%);
    --background-primary: hsl(0deg, 0%, 99%);
    --background-default: hsl(0deg, 0%, 94%);
    --background-secondary: hsl(0deg, 0%, 89%);

    /* Docs Elements: */
    --docs-hr: rgba(0, 0, 0, 0.08);
    --docs-hr-sub: rgba(0, 0, 0, 0.04);
    --docs-inline-code: rgb(242, 51, 51);
    --docs-note-background: rgb(243, 239, 184);
    --docs-note-color: hsl(0, 8%, 23%);
    --docs-code-block: hsl(0, 0%, 17.5%);

    /* Box Shadows: */
    --box-shadow-light: rgba(0, 0, 0, 0.1);
    --box-shadow-mid: rgba(0, 0, 0, 0.23);
    --box-shadow-dark: rgba(0, 0, 0, 0.35);

    /* Border: */
    --border-light: hsl(0deg, 0%, 85%);
    --border-mid: hsl(0deg, 0%, 70%);
    --border-dark: hsl(0deg, 0%, 60%);

    --nav-bar-background: hsl(0deg, 0%, 98%);
    --nav-bar-items-color: #545b68;

    /* Other Settings: */
    --tree-width: 20em;
    --header-size: 4.8em;
    --mobile-header-size: 3em;
}