:root {
    --mobile-header-size: 0 !important;
}

.home-page {
    width: 100%;
    height: 100%;
}

.first-section {
    width: 100%;
    background: -o-linear-gradient(bottom, #20242a, #1c2128);
    background: -webkit-gradient(linear, left bottom, left top, from(#20242a), to(#1c2128));
    background: linear-gradient(0deg, #20242a, #1c2128);
    height: calc(100vh - var(--header-size));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 14em;
}

#home-page-title {
    color: #E5F0F9;
    margin: 0;
    font-size: 5em;
}

#home-page-sub-title {
    margin-top: 0.5em;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.home-page-search>.results {
    width: calc(100% + 2px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 1.5em;
    background: white;
    position: relative;
    top: calc(1.5em + 3em);
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    overflow: hidden;
    display: none;
}

.home-page-search>.results>.result {
    width: 100%;
    height: 3em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    padding-left: 2em;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    cursor: pointer;
    color: hsl(0deg, 0%, 20%);
    -webkit-transition: 0.14s;
    -o-transition: 0.14s;
    transition: 0.14s;
    font-weight: 500;
}

.home-page-search>.results>.result:hover {
    background: rgba(0, 0, 0, 0.1);
    color: hsl(0deg, 0%, 3%);
}

.home-page-search>.results>.result:active {
    background: rgba(0, 0, 0, 0.2);
    color: hsl(0deg, 0%, 3%);
}

.home-page-search>.results.visible {
    display: block;
}

.home-page-search {
    width: 35em;
}

.home-page-search>.input>input {
    /* width: calc(100% - 7em); */
    border-radius: 3em;
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 3em;
    border-bottom-left-radius: 3em; */
    padding: 0;
    padding-left: 2em;
    outline: 0;
    border: 0;
}

.home-page-search>.input>.submit>span {
    color: rgb(87, 81, 81);
    font-weight: 800 !important;
}

.home-page-search>.input>.submit {
    height: 100%;
    width: 7em;
    margin: 0;
    cursor: pointer;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    padding: 0;
    background: #A8C2F8;
    border: 0;
    border-left: 1px solid #9f9f9f;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home-page-search>.input>.submit:hover {
    background: #c4d4f6;
}

.home-page-search>.input>.submit:active {
    background: #a2b7e5;
}

.home-page-search>.input>.submit:hover>span {
    color: rgb(113, 101, 101);
}

.home-page-search>.input>.submit:active>span {
    color: rgb(76, 63, 63);
}

.home-page-search>.input {
    height: 3em;
    width: 35em;
    margin-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #707070;
    border-radius: 3em;
    margin-bottom: var(--header-size);
    position: absolute;
    z-index: 2;
}

.tiles>.tile {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 99px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 99px 3px rgba(0, 0, 0, 0.2);
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.tiles>.tile.hamen {
    width: 40vw;
    height: 50vh;
    background: #FFCCCC;
    border-radius: 3em;
    position: absolute;
    top: 4em;
    left: 4em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: calc(40vh / 2.5);
}

.tiles>.tile.docs {
    position: absolute;
    width: 45vw;
    height: 40vh;
    background: #F5FFCC;
    border-radius: 3em;
    left: 8em;
    top: 37vh;
}

.tiles>.tile>span {
    font-size: 10vh;
    font-weight: 900;
    font-family: 'Exo 2';
    color: #473F3F;
}

.paths>svg {
    position: absolute;
    z-index: 1;
}

.paths>#path-1 {
    top: -20em;
    right: -30em;
}

.paths>#path-2 {
    right: -30em;
    top: -33em;
}

.paths>#path-3 {
    right: -40em;
    top: -47em;
}

body {
    overflow-x: hidden;
}

.search-input {
    position: absolute;
    right: 10vw;
    bottom: 30vh;
    z-index: 6;
}

.search-input>input {
    width: 30em;
    padding: 1.2em;
    padding-left: 4em;
    -webkit-box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid hsl(0deg, 0%, 70%);
    outline: none;
    border-radius: 3em;
}

@media screen and (max-width:1600px) {
    .search-input>input {
        width: 30vw;
    }

    .search-input {
        right: 5vw;
    }
}

.search-input>#search-input-icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    left: 3.1em;
    top: 0.35em;
}

.search-input>#search-input-icon>span {
    font-size: 1.3em;
}

.browse-courses>#browse-courses {
    font-size: 3em;
    position: absolute;
    font-weight: 800;
    color: #342C2C;
    font-family: 'Exo 2';
    width: 100vw;
    text-align: center;
    z-index: 5;
    translate: 0 5em;
}

.browse-courses>.background {
    width: 100vw;
    height: 30em;
    background: #C6F3CC;
    position: absolute;
    translate: 0 -1em;
}

.browse-courses>.items>.course {
    width: 20em;
    min-width: 25%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: white;
    border-radius: 1.3em;
    -webkit-box-shadow: 0 0 80px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 80px 4px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    bottom: 0;
}

.browse-courses>.items>.course:hover {
    bottom: 1em;
    -webkit-box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:1100px) {
    .browse-courses>.items>.course {
        min-width: 20%;
        width: 16em;
        margin: 1.5em;
    }
}

@media screen and (max-width:900px) {
    .browse-courses>.items {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .browse-courses>.items>.course:hover {
        -webkit-box-shadow: 0 0 80px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 80px 4px rgba(0, 0, 0, 0.2);
        bottom: 0;
    }

    .browse-courses>.background {
        height: 55em;
    }
}

@media screen and (max-width:600px) {
    .browse-courses>.items>.course {
        width: 80%;
    }

    .browse-courses>.background {
        height: 80em;
    }

    .browse-courses>.items>.course:hover {
        bottom: 0;
    }
}

.browse-courses>.items>.course>.view-more {
    width: 70%;
    height: 3em;
    background: #FFBEBE;
    border: 0;
    font-size: 1em;
    border-radius: 1em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-top: 2em;
    -webkit-box-shadow: 0 0 60px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 60px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.browse-courses>.items>.course>.view-more:hover {
    background: #f8cfcf;
    -webkit-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

.browse-courses>.items>.course>.view-more:active {
    background: #e39999;
    -webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.25);
}

.browse-courses>.items>.course>.view-more.b {
    background: #C2C6FF;
    -webkit-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

.browse-courses>.items>.course>.view-more.b:hover {
    background: #d4d6f6;
    -webkit-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

.browse-courses>.items>.course>.view-more.b:active {
    background: #989cd4;
    -webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.25);
}

.browse-courses>.items>.course>.view-more.c {
    background: #FCC3FA;
    -webkit-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

.browse-courses>.items>.course>.view-more.c:hover {
    background: #ffd6fe;
    -webkit-box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

.browse-courses>.items>.course>.view-more.c:active {
    background: #dd9fdb;
    -webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.25);
}

.browse-courses>.items>.course>.title {
    font-size: 1.6em;
    font-weight: 600;
    color: #4f4242;
    margin-bottom: 0.5em;
    font-family: 'Exo 2', serif;
}

.browse-courses>.items>.course>.item {
    width: calc(100% + 4em);
    height: 3em;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-transition: 0.12s;
    -o-transition: 0.12s;
    transition: 0.12s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Noto Sans';
}

.browse-courses>.items>.course>.item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.browse-courses>.items>.course>.item:active {
    background: rgba(0, 0, 0, 0.14);
}

.home-page>.scroll-down-notifier {
    position: absolute;
    top: calc(100vh - var(--header-size) - 10vh);
    z-index: 7;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 16em;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
}

.home-page>.scroll-down-notifier>span {
    color: #ADB9C2;
}

.home-page>.scroll-down-notifier>.text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
}

.home-page>.scroll-down-notifier>.icon {
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

@-webkit-keyframes notifierFadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes notifierFadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.home-page>.scroll-down-notifier.visible {
    -webkit-animation: notifierFadeIn 0.8s forwards;
    animation: notifierFadeIn 0.8s forwards;
}

@media screen and (max-width:650px) {
    #home-page-title {
        font-size: 4em;
        max-width: 80%;
        text-align: center;
    }

    .home-page-search,
    .home-page-search>.input {
        width: 80%;
    }
}

body {
    background: #C6F3CC;
    height: 100%;
}

:root {
    --bciis: 18em
        /* Browse Courses course size */
    ;
}

.browse-courses>.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    z-index: 4;
    translate: 0 5em;
}

.browse-courses>.items>.item {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* background: rgba(255, 255, 255, 0.4); */
    /* box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.4); */
}

.browse-courses>.items>.item>.title {
    color: #342C2C;
    font-size: 1.5em;
    margin-left: 4em;
    font-weight: 700;
}

.browse-courses>.items>.item>.content {
    border-radius: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: calc(100% - 4em - 4em);
    height: 100%;
    overflow-x: scroll;
    padding-left: 4em;
    padding-right: 4em;
}

.browse-courses>.items>.item>.content::-webkit-scrollbar {
    display: none;
}

.browse-courses>.items>.item>.content>.item {
    width: var(--bciis);
    height: var(--bciis);
    min-width: var(--bciis);
    margin: 2em;
    background: white;
    border-bottom: 1.5em solid rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    /* padding-bottom: 1.5em; */
    -webkit-box-shadow: 0 0 34px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 34px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: top;
    -ms-flex-pack: top;
    justify-content: top;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: 0.23s;
    -o-transition: 0.23s;
    transition: 0.23s;
    position: relative;
    overflow: hidden;
    bottom: 0;
    background: hsl(221.5deg 32.96% 84.73%);
}

.browse-courses>.items>.item>.content>.item:hover {
    /* box-shadow: 0 8px 48px 4px rgba(0, 0, 0, 0.15); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0.6em;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

/* @keyframes hideTileImage {
    from {
        opacity: 100%;
    } to {
        opacity: 0%;
    }
}

.browse-courses > .items > .item > .content > .item:hover > .image {
    animation: 0.5s hideTileImage forwards;
} */

.browse-courses>.items>.item>.content>.item:active {
    -webkit-box-shadow: 0 8px 30px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 30px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 0px solid rgba(0, 0, 0, 0.12);
    margin-top: calc(2em + 1.5em);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.browse-courses>.items>.item>.content>.item>.image {
    width: 100%;
    height: calc(100% - 20%);
    background: rgb(227 230 237);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}

.browse-courses>.items>.item>.content>.item>.image>img {
    height: 60%;
    /* box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.1); */
}

.browse-courses>.items>.item>.content>.item>.title {
    font-family: 'Exo 2';
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    color: #433a3a;
}

.browse-courses>.items>.item>.content>.item>.description {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: none;
    font-family: 'Noto Sans';
    opacity: 0%;
}

.browse-courses>.items>.item>.content>.item:hover>.description {
    /* display: block; */
    font-family: 'Noto Sans';
    opacity: 100%;
}

.browse-courses>.items>.item>.content>.item:hover>.title {
    /* display: none; */
}

.browse-courses>.items>.item-separator {
    width: 60%;
    height: 3px;
    border-radius: 1em;
    margin: 3em;
    background: rgba(0, 0, 0, 0.07);
}