body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    height: calc(100vh - calc(var(--header-size) + var(--mobile-header-size)));
    position: absolute;
    top: calc(var(--header-size) + var(--mobile-header-size));
    width: 100%;
}

::-moz-selection {
    background: hsl(214deg, 40%, 80%);
    color: rgb(33, 33, 33);
}

::selection {
    background: hsl(214deg, 40%, 80%);
    color: rgb(33, 33, 33);
}

.go-to-top {
    width: 3.8em;
    height: 3.8em;
    background: hsl(0deg, 0%, 88%);
    border: 1px solid hsl(0deg, 0%, 73%);
    position: fixed;
    z-index: 10;
    bottom: 2em;
    border-radius: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    right: 2em;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: none;
}

.go-to-top > span {
    font-size: 1.6em;
}

.display-none {
    display: none;
}

.display-none-important {
    display: none !important;
}

p,a,.text,li,input,button {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

input {
    font-size: 1em;
}

.li-title {
    margin-bottom: 0.5em;
}

.li-title::before {
    content: '' !important;
}

.docs-content {
    width: calc(100% - var(--tree-width));
    padding: 3em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* background: var(--content-color); */
}

.documentation {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

p,li {
    color: hsl(0, 4%, 37%);
}

p {
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

#docs-tree-exit-icon {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.docs-tree {
    width: var(--tree-width);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

#content-title {
    font-family: 'Exo 2', serif;
    color: hsl(0deg, 9%, 20%);
}

.content-titles {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

a > .code\:inline {
    color: #f36d6d;
}

.link-section {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding-left: 0.3em;
    font-size: 0.8em !important;
    rotate: 90deg;
    padding-bottom: 0.3em;
    display: none;
}

.link-section:hover {
    color: hsl(0deg, 0%, 3%);
}

.link-section:active {
    color: hsl(0deg, 0%, 0%);
}

*:has( > .link-section) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#content-title {
    padding-top: 0.7em;
    font-size: 2.3em;
}

.documentation-options {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* margin-top: 1em; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.documentation-option {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--anchor);
    font-weight: bold;
}

a:hover {
    color: var(--anchor-hover);
    text-decoration: underline;
}

a:active {
    color: var(--anchor-active);
    text-decoration: underline;
}

.documentation-option-separator {
    width: 2px;
    height: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    background: var(--docs-hr);
}

.option > .code\:inline {
    font-size: 1.1em;
}

.no-bull-li {
    list-style: none;
}

.content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

section > p,section > .items > p {
    margin-top: 1em;
    margin-bottom: 1em;
}

section > .items > * {
    margin-left: 8px;
}

section > .items {
    padding-left: 1em;
    border-left: 8px solid rgba(0, 0, 0, 0.1);
}

section > ul,ol {
    line-height: 1.8;
    margin-top: 0;
}

section > ul > li,section > ol > li {
    line-height: 1.8 !important;
}

section > p.first {
    margin-top: 0;
}

docs-related-topics > p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

docs-related-topics > ul,ol {
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 0;
}

.docs-related-topics-title {
    margin: 0;
}

.rate-article {
    width: 100%;
}

.rate-article > .stars {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.star {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    font-size: 2.4em !important;
}

.star.active {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48 !important;
}

.docs-tree-content {
    width: var(--tree-width);
    height: calc(100% - var(--header-size));
    /* min-width: 18em; */
    position: fixed;
    background: var(--tree-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 0em;
    overflow-y: scroll;
}

.docs-tree-titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1.5em;
    padding-bottom: 0.7em;
    padding-top: 2.5em;
}

.docs-tree-titles > .title {
    font-family: 'Exo 2', serif;
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(0deg, 9%, 20%);
}

#docs-tree-exit-icon {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.3em;
    cursor: pointer;
    color: var(--text-primary);
}

.docs-tcs > .title.toggle > .chevron {
    font-size: 1.2em;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.docs-tcs > .title.toggle > .chevron.rot {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.docs-tcs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.docs-tcs > .title {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.option {
    color: var(--anchor);
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 1.5em;
    font-size: 0.95em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* .option.selected::before {
    content: '▸';
    margin-right: 4px;
    font-weight: 300 !important;
} */

.option.selected {
    border-left: 3px solid var(--anchor);
    padding-left: 10px;
    margin-left: calc(1.5em - 10px - 3px);
}

.option.selected:hover {
    border-left: 3px solid var(--anchor-hover);
}

.option.selected:active {
    border-left: 5px solid var(--anchor-active);
    padding-left: 8px;
}

.option.display-none {
    display: none !important;
}

abbr {
    text-decoration: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    cursor: pointer;
    border-bottom: 1px dotted;
}

.docs-tcs > .title {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-bottom: 0.5em;
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: hsl(0deg, 0%, 25%);
    -webkit-transition: 0.12s;
    -o-transition: 0.12s;
    transition: 0.12s;
}

:hover > .link-section {
    display: block;
}

@media screen and (max-width:750px) {
    .docs-tree {
        position: absolute;
        width: 100%;
    }

    .option {
        line-height: 2.1;
    }

    .docs-tcs > .title {
        line-height: 2;
    }

    #header-search {
        width: 100% !important;
        margin-left: 2em;
    }

    .docs-tree-content {
        width: 100%;
    }

    .docs-tree-content {
        display: none;
    }

    .docs-tree {
        display: none;
    }

    .documentation {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .docs-content {
        width: 100%;
    }
}

@media screen and (min-width:750px) {
    main {
        height: calc(100vh - calc(var(--header-size))) !important;
        position: absolute;
        top: var(--header-size) !important;
    }

    .mobile-toggle-tree {
        display: none !important;
    }

    #docs-tree-exit-icon {
        display: none;
    }

    .docs-tree {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .docs-tree-content {
        display: block !important;
    }
}

section > h2,h3,h4,h5,h6 {
    margin-bottom: 1em;
}

section > h2 > .code\:inline.code\:box {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
}

h4 {
    font-size: 115%;
}

h5 {
    font-size: 110%;
}

h6 {
    font-size: 100%;
}

.sub-text {
    font-size: 0.9em;
    color: hsl(0deg, 0%, 50%);
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

@media screen and (max-width:750px) {
    .docs-content {
        padding-bottom: 0;
        padding-top: 1em;
    }
}

/*

    SCROLLBAR:

*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(207, 207, 207);
}

::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(183, 183, 183);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(138, 138, 138);
}

/* 

    HEADER:

*/

header {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* height: calc(var(--header-size) + var(--mobile-header-size)); */
    position: fixed;
    z-index: 8;
    top: 0;
    -webkit-box-shadow: 0 0 50px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 50px 3px rgba(0, 0, 0, 0.2);
}

header > .header {
    width: 100%;
    height: var(--header-size);
    background: hsl(0deg, 0%, 90%);
    border-bottom: 1px solid hsl(0deg, 0%, 80%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.mobile-toggle-tree {
    display: none;
}

header > .header > .logo {
    height: 3em;
    margin-left: calc(calc(var(--header-size) - 3em) / 2);
    cursor: pointer;
    /* box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2); */
}

header > .header>.logo.media {
    display: none;
}

header > .header>.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header > .header>.actions>span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    margin: 1em;
}

#header-account-icon {
    margin-right: 1.5em;
}

#header-search {
    font-size: 0.95em;
    height: 100%;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    outline: none;
    padding-left: 1.5em;
    -webkit-transition: 0.45s;
    -o-transition: 0.45s;
    transition: 0.45s;
    width: 40%;
    border-radius: 1.4em;
    border: 1px solid hsl(0deg, 0%, 80%);
}

#header-search.hidden {
    width: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: 100% !important;
}

#header-search:focus {
    border: 1px solid hsl(0deg, 0%, 65%);
}

.mobile-toggle-tree {
    width: 100%;
    height: var(--mobile-header-size);
    background: var(--background-2);
    border-bottom: 1px solid var(--border-mid);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: var(--text-default);
}

header > .header {
    border: 0;
    border-bottom: 1px solid var(--border-mid);
    background: var(--nav-bar-background);
}

header > .header > .options {
    margin-left: auto;
    margin-right: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

header > .header > .options > .option {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

header > .header > .options > .option > a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--nav-bar-items-color);
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

header > .header > .options > .option > a:hover {
    color: var(--anchor-hover);
}

header > .header > .options > .option > a:active {
    color: var(--anchor-active);
}

header {
    -webkit-box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.3);
}

header > .header > .options > .option > .account-options {
    width: 10em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    right: 1em;
    top: var(--header-size);
    background: var(--nav-bar-background);
    -webkit-box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 7;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid var(--border-mid);
    border-top: 0;
}

header > .header > .options > .option > .account-options > a {
    width: 100%;
    height: 3.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: var(--nav-bar-items-color);
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

header > .header > .options > .option > .account-options > a:hover {
    color: var(--anchor-hover);
}

header > .header > .options > .option > .account-options > a:active {
    color: var(--anchor-active);
}

header > .header > .options > .option > #nav-bar-account:hover + .account-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header > .header > .options > .option > .account-options:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width:750px) {
    .mobile-toggle-tree {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    header > .header>.logo {
        display: none;
    }

    header > .header>.logo.media {
        display: block;
    }
}

.docs-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: var(--background-primary);
}

.docs-tree-content {
    background: var(--background-default);
}

.docs-tree-titles > .title {
    color: var(--text-primary);
}

.docs-tcs > .title {
    color: var(--text-primary);
}

p,li,.text {
    line-height: 1.5;
    color: var(--text-default);
}

header > .header > .options > .mobile {
    display: none;
}

.mobile-nav-options {
    display: none;
}

/* Nav Bar Mobile: */
@media screen and (max-width:700px) {
    header > .header > .options > .option {
        display: none;
    }

    header > .header > .options > .mobile {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    header > .header > .options > .mobile > img {
        height: 3em;
        margin-left: calc(calc(var(--header-size) - 3em) / 2);
        cursor: pointer;
        /* box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2); */
    }

    header > .header > .options > .mobile > span {
        padding: 1em;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        cursor: pointer;
        color: var(--text-primary);
        padding-right: 1.5em;
    }

    header > .header > .options {
        margin-left: 0;
        margin-right: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    .mobile-nav-options {
        display: none;
        width: 100%;
        height: calc(100vh - var(--header-size));
        position: fixed;
        top: var(--header-size);
        z-index: 10;
        background: white;
        left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .mobile-nav-options.visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .mobile-nav-options > .option {
        all: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 100%;
        height: calc(100% / 4);
        background: var(--background-secondary);
    }

    .mobile-nav-options > .option > a {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        border-top: 1px solid var(--border-mid);
    }
}

/* Hide Link on Firefox: */
@-moz-document url-prefix() {
    .link-section {
        display: none !important;
    }
} 